In [ ]:
a = int(input("My age is,"))
print(a)

My age is,62
62

In [ ]:
9 + 4 * 3 - 2 ** 3

13

In [ ]:
a = 2+2*5**2
print(a)

52

In [ ]:
a = (2+2) * 5 ** 2
print (a)

100

In [ ]:
a = 1 + 6*8/3 + 4 - 1 - 3
print(a)

17.0

In [ ]:
a = 15%2*3
print (a)

3

In [ ]:
1+2+3

6

In [ ]:
"rw" + "c"

'rwc'

In [ ]:
"rw" * 2

'rwrw'

In [ ]:
"2" + "rw"

'2rw'

In [ ]:
a = str(5)
type(a)

str

In [ ]:
age = input ("How old are you? ")
print("Your age is:", age)

How old are you? 62
Your age is: 62

In [ ]:
print("The number of spiderman movies is", 2+3+2+1)

The number of spiderman movies is 8

In [ ]:
print("This is your Piggy bank")
print("Please enter the cout of each coin type")
quarters = int(input("Quarters: "))
dimes = int(input("Dimes: "))
nickels = int(input("Nickels: "))
pennies = int(input("Pennies: "))
total = quarters * .25 + dimes *.1 + nickels * .05 + pennies * .01
print(total)
dollars = int(total)
cents = round((total - dollars),2) #rounding result to two digits
print(cents)
print("The total value of your change is:", dollars, "dollars", "and",  cents, "cents",)

This is your Piggy bank
Please enter the cout of each coin type
Quarters: 55
Dimes: 44
Nickels: 33
Pennies: 22
20.019999999999996
0.02
The total value of your change is: 20 dollars and 0.02 cents

In [ ]:
def g(x):
    def h():
        x = 'abc'
    x = x + 1
    print('g: x =', x)
    h()
    return x

x = 3
z = g(x)

g: x = 4

In [ ]:
def pythag():
  a = int(input("Please enter side a:, "))
  b = int(input("Please enter side b:, "))
  c = (a**2 + b ** 2)** .5
  return c
pythag()

Please enter side a:, 4
Please enter side b:, 5

6.4031242374328485

In [ ]:
a = 2
b = 5
c = b**a
print(c)

25

In [ ]:
def exmple(a, b):
  c = b**a
  return(c)
exmple(2,5)

25

In [ ]:
def pythag(a,b):
  #a = int(input("Please enter side a:, "))
  #b = int(input("Please enter side b:, "))
  c = round((a**2 + b ** 2)** .5, 2)
  return c
pythag(5,7)

8.6

In [ ]:
2 * "rw"

'rwrw'

In [ ]:
smm = eval(input("The number of spiderman movies Jim watched is,"))
print(smm)
type(smm)

In [ ]:
def pythag():
  a = int(input("Please enter side a: "))
  b = int(input("Please enter side b: "))
  c = (a**2 + b**2)**.5
  return c

In [ ]:
# Example of a function that accepts multiple inputs
# And returns multiple outputs all at once
def calculate(a, b, c):
    sum_result = a + b + c
    product_result = a * b * c
    average_result = (a + b + c) / 3
    max_result = max(a, b, c)
    min_result = min(a, b, c)
    return sum_result, product_result, average_result, max_result, min_result

# Example usage:
result = calculate(10, 20, 30)
print("Sum:", result[0])
print("Product:", result[1])
print("Average:", result[2])
print("Maximum:", result[3])
print("Minimum:", result[4])

# Or you can unpack the results directly:
sum_result, product_result, average_result, max_result, min_result = calculate(10, 20, 30)
print("Sum:", sum_result)
print("Product:", product_result)
print("Average:", average_result)
print("Maximum:", max_result)
print("Minimum:", min_result)