In [ ]:
name = "John"
age = 25
message = "My name is %s and I am %d years old." % (name, age)
print(message)

My name is John and I am 25 years old.

In [ ]:
name = "John"
age = 25
message = "My name is {} and I am {} years old.".format(name, age)
print(message)

My name is John and I am 25 years old.

In [ ]:
pi = 3.14159
formatted_pi = "The value of pi is approximately {:.2f}".format(pi)
print(formatted_pi)

The value of pi is approximately 3.14

In [ ]:
name = "Alice"
greeting = "Hello, " + name + "!"
print(greeting)

Hello, Alice!

In [ ]:
message = "Hello, World!"
print(message.upper())  # Convert the string to uppercase
print(message.lower())  # Convert the string to lowercase

HELLO, WORLD!
hello, world!

In [ ]:
sentence = "This is a sentence."
words = sentence.split()  # Split the sentence into a list of words
new_sentence = "-".join(words)  # Join the words with a hyphen
print(new_sentence)

This-is-a-sentence.

In [ ]:
sentence = input("Enter a sentence: ")
word = input("Enter a word: ")

count = sentence.lower().count(word.lower())

print("Occurrences of '{}' in the sentence: {}".format(word, count))

Enter a sentence: Today is fine.
Enter a word: is
Occurrences of 'is' in the sentence: 1

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
result = True or False and False
print(result)

True

In [ ]:
text = "Hello World!"
print(text[-1])

!

In [ ]:
name = "Alice"
age = 25

# Using % operator for string formatting
greeting = "Hello, my name is %s and I am %d years old." % (name, age)
print(greeting)

Hello, my name is Alice and I am 25 years old.

In [ ]:
name = "Alice"
age = 25
#Using format() method for string formatting
greeting = "Hello, my name is {} and I am {} years old.".format(name,age)
print(greeting)

Hello, my name is Alice and I am 25 years old.

In [ ]:
count = 0
while count < 5:
    count += 2

2
4
6

In [ ]:
x = 10
y = 5
print(x > y and x < 15)

True

In [ ]:
result = not True or False
print(result)

False

In [ ]:
# Creating an empty list
my_list = []

# Creating a list with initial elements
fruits = ["apple", "banana", "orange"]

In [ ]:
fruits = ["apple", "banana", "orange"]

# Accessing individual elements
print(fruits[0])  # Output: "apple"
print(fruits[1])  # Output: "banana"
print(fruits[2])  # Output: "orange"

apple
banana
orange

In [ ]:
fruits = ["apple", "banana", "orange"]

# Modifying an element
fruits[1] = "grape"
print(fruits)  # Output: ["apple", "grape", "orange"]

# Adding elements to the end
fruits.append("kiwi")
print(fruits)  # Output: ["apple", "grape", "orange", "kiwi"]

['apple', 'grape', 'orange']
['apple', 'grape', 'orange', 'kiwi']

In [ ]:
fruits = ["apple", "banana", "orange"]

# Length of the list
print(len(fruits))  # Output: 3

# Removing an element
fruits.remove("banana")
print(fruits)  # Output: ["apple", "orange"]

# Sorting the list
fruits.sort()
print(fruits)  # Output: ["apple", "orange"]

3
['apple', 'orange']
['apple', 'orange']

In [ ]:
fruits = ["apple", "banana", "orange", "kiwi", "grape"]

# Slicing a list
print(fruits[1:4])  # Output: ["banana", "orange", "kiwi"]

# Slicing with a step
print(fruits[::2])  # Output: ["apple", "orange", "grape"]

['banana', 'orange', 'kiwi']
['apple', 'orange', 'grape']

In [ ]:
fruits = ["apple", "banana"]
vegetables = ["carrot", "spinach"]

# Concatenating lists
combined = fruits + vegetables
print(combined)  # Output: ["apple", "banana", "carrot", "spinach"]

# Repeating a list
repeated = fruits * 3
print(repeated)  # Output: ["apple", "banana", "apple", "banana", "apple", "banana"]

['apple', 'banana', 'carrot', 'spinach']
['apple', 'banana', 'apple', 'banana', 'apple', 'banana']

In [ ]:
fruits = ["apple", "banana", "orange"]

# Iterating over a list
for fruit in fruits:
    print(fruit)

# Output:
# "apple"
# "banana"
# "orange"

apple
banana
orange

In [ ]:
fruits = ["apple", "banana", "orange"]

# Checking if an element exists in the list
print("banana" in fruits)  # Output: True
print("kiwi" in fruits)  # Output: False

True
False

In [ ]:
string = input("Enter a string: ")
reversed_string = string[::-1]
print("Reversed string:", reversed_string)

Enter a string: testing one, two, three
Reversed string: eerht ,owt ,eno gnitset

In [ ]:
string = input("Enter a string: ")
count = 0
for char in string:
    if char.lower() in "aeiou":
        count += 1
print("Number of vowels:", count)

Enter a string: omaha
Number of vowels: 3

In [ ]:
string = input("Enter a string: ")
result = ""
for char in string:
    if char not in result:
        result += char
print("String with duplicates removed:", result)

Enter a string: testing
String with duplicates removed: tesing

In [ ]:
numbers = input("Enter a list of numbers (space-separated): ").split()
reversed_list = numbers[::-1]
print("Reversed list:", reversed_list)

Enter a list of numbers (space-separated): 1 2 5 7 8
Reversed list: ['8', '7', '5', '2', '1']

In [ ]:
numbers = input("Enter a list of numbers (space-separated): ").split()
count = 0
for num in numbers:
    if int(num) % 2 == 0:
        count += 1
print("Number of even numbers:", count)

Enter a list of numbers (space-separated): 1 2 3 4 5
Number of even numbers: 2

In [ ]:
strings = input("Enter a list of strings (space-separated): ").split()
result = []
for string in strings:
    if string not in result:
        result.append(string)
print("List with duplicates removed:", result)

Enter a list of strings (space-separated): able was I ere I saw elba
List with duplicates removed: ['able', 'was', 'I', 'ere', 'saw', 'elba']

In [ ]:
import array

# Creating an array of integers
numbers = array.array('i', [1, 2, 3, 4, 5])

# Creating an array of floating-point numbers
grades = array.array('f', [85.5, 90.0, 92.5, 88.75])
print(numbers)
print(grades)

array('i', [1, 2, 3, 4, 5])
array('f', [85.5, 90.0, 92.5, 88.75])

In [ ]:
import array

numbers = array.array('i', [1, 2, 3, 4, 5])

# Accessing individual elements
print(numbers[0])  # Output: 1
print(numbers[2])  # Output: 3

1
3

In [ ]:
import array

numbers = array.array('i', [1, 2, 3, 4, 5])

# Modifying an element
numbers[1] = 10
print(numbers)  # Output: array('i', [1, 10, 3, 4, 5])

array('i', [1, 10, 3, 4, 5])

In [ ]:
import array

numbers = array.array('i', [1, 2, 3, 4, 5])

# Length of the array
print(len(numbers))  # Output: 5

# Appending elements to the array
numbers.append(6)
print(numbers)  # Output: array('i', [1, 2, 3, 4, 5, 6])

# Removing elements from the array
numbers.remove(3)
print(numbers)  # Output: array('i', [1, 2, 4, 5, 6])

5
array('i', [1, 2, 3, 4, 5, 6])
array('i', [1, 2, 4, 5, 6])

In [ ]:
import array

numbers = array.array('i', [1, 2, 3, 4, 5])

# Iterating over the array
for num in numbers:
    print(num)

# Output:
# 1
# 2
# 3
# 4
# 5

1
2
3
4
5

In [ ]:
import array

numbers = array.array('i', [1, 2, 3, 4, 5])

# Converting array to list
numbers_list = numbers.tolist()
print(numbers_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
import array

# Create an array of integers
numbers = array.array('i', [1, 2, 3, 4, 5])

# Accessing elements
print(numbers[0])  # Output: 1

# Modifying an element
numbers[1] = 10
print(numbers)  # Output: array('i', [1, 10, 3, 4, 5])

# Array length
print(len(numbers))  # Output: 5

1
array('i', [1, 10, 3, 4, 5])
5

In [ ]:
import numpy as np

# Create a numpy array of integers
numbers = np.array([1, 2, 3, 4, 5])

# Accessing elements
print(numbers[0])  # Output: 1

# Modifying an element
numbers[1] = 10
print(numbers)  # Output: [ 1 10  3  4  5]

# Array length
print(len(numbers))  # Output: 5

1
[ 1 10  3  4  5]
5

In [ ]:
import array

numbers = array.array('i', [10, 5, 8, 12, 3])

max_number = numbers[0]
for num in numbers:
    if num > max_number:
        max_number = num

print("Maximum element:", max_number)

Maximum element: 12

In [ ]:
import array

numbers = array.array('i', [10, 5, 8, 12, 3])

sum_numbers = sum(numbers)
average = sum_numbers / len(numbers)

print("Average:", average)

Average: 7.6

In [ ]:
import array

numbers = array.array('i', [10, 5, 8, 12, 3])

reversed_numbers = array.array('i', [])
for i in range(len(numbers)-1, -1, -1):
    reversed_numbers.append(numbers[i])

print("Reversed list:", reversed_numbers)

Reversed list: array('i', [3, 12, 8, 5, 10])

In [ ]:
new_list = [expression for item in iterable if condition]

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num**2 for num in numbers]
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)  # Output: [2, 4]

In [ ]:
words = ["apple", "banana", "cherry"]
initials = [word[0] for word in words]
print(initials)  # Output: ['a', 'b', 'c']

In [ ]:
import array

# Define an array variable
my_array = array.array('i')

# Add elements to the array
my_array.append(10)
my_array.append(20)
my_array.append(30)

# Access and print the elements of the array
for element in my_array:
    print(element)

In [ ]:
import numpy as np

# Prompt for the number of elements in the array
num_elements = int(input("Enter the number of elements: "))

# Create an empty list to store the inputs
elements = []

# Prompt for the inputs in a loop
for i in range(num_elements):
    value = float(input(f"Enter element {i+1}: "))
    elements.append(value)

# Convert the list to a numpy array
my_array = np.array(elements)

# Print the numpy array
print("Numpy array:", my_array)

Enter the number of elements: 5
Enter element 1: 3
Enter element 2: 4
Enter element 3: 7
Enter element 4: 3
Enter element 5: 9
Numpy array: [3. 4. 7. 3. 9.]

In [ ]:
# List
lst = [1, 2, 3, 4]
lst.append(5)

# Tuple
t = (1, 2, 3, 4)

# String
s = "Hello"

In [ ]:
from itertools import permutations

def generate_possible_words(input_string):
    input_string = input_string.strip()
    characters = list(input_string)
    possible_words = set()

    # Generate all possible permutations of characters
    for r in range(1, len(characters) + 1):
        for perm in permutations(characters, r):
            possible_words.add(''.join(perm))

    return possible_words

# Ask the user to input a string
user_input = input("Enter a string: ")
possible_words = generate_possible_words(user_input)

print("\nAll possible words:")
for word in possible_words:
    print(word)

In [ ]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
result = are_anagrams(string1, string2)
print(result)  # Should print True

In [ ]:
def reverse_sentence(sentence):
    words = sentence.split()
    reversed_words = [word[::-1] for word in words]
    reversed_sentence = ' '.join(reversed_words)
    return reversed_sentence

input_sentence = "Hello World"
result = reverse_sentence(input_sentence)
print(result)  # Should print "olleH dlroW"

In [ ]:
import numpy as np

# Create a NumPy array
my_array = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

# Extract a subarray from index 2 to 5 (inclusive)
subarray = my_array[2:6]
print(subarray)

# Reverse the array
reversed_array = my_array[::-1]
print(reversed_array)

# Extract even-indexed elements
even_indices = my_array[::2]
print(even_indices)

In [ ]:
def remove_duplicates(input_list):
    unique_list = []
    for item in input_list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

my_list = [1, 2, 2, 3, 4, 4, 5]
result = remove_duplicates(my_list)
print(result)

In [ ]:
def is_palindrome(string):
    cleaned_string = ''.join(filter(str.isalnum, string)).lower()
    return cleaned_string == cleaned_string[::-1]

input_string = "A man, a plan, a canal, Panama"
result = is_palindrome(input_string)
print("Is Palindrome:", result)

In [ ]:
def reverse_words(sentence):
    words = sentence.split()
    reversed_sentence = ' '.join(reversed(words))
    return reversed_sentence

input_sentence = "Hello World"
result = reverse_words(input_sentence)
print(result)

In [ ]:
import tensorflow as tf

# Creating tensors
scalar_tensor = tf.constant(42)
vector_tensor = tf.constant([1, 2, 3, 4, 5])
matrix_tensor = tf.constant([[1, 2, 3], [4, 5, 6]])

# Performing operations
result_tensor = scalar_tensor + 10
element_wise_product = tf.multiply(vector_tensor, 2)
matrix_product = tf.matmul(matrix_tensor, tf.constant([[5], [6], [7]]))

# Printing results
print("Scalar Tensor:")
print(result_tensor.numpy())

print("\nVector Tensor:")
print(element_wise_product.numpy())

print("\nMatrix Tensor:")
print(matrix_product.numpy())

In [ ]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b']
print(list(zip(list1, list2)))  # Output: [(1, 'a'), (2, 'b')]

In [ ]:
zipped_pairs = [(1, 'a'), (2, 'b'), (3, 'c')]
list1, list2 = zip(*zipped_pairs)
print(list1)  # Output: (1, 2, 3)
print(list2)  # Output: ('a', 'b', 'c')

In [ ]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 88]
for name, score in zip(names, scores):
    print(f"{name}: {score}")

In [ ]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = ['x', 'y', 'z']

zipped = zip(list1, list2, list3)
print(list(zipped))  # Output: [(1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z')]

In [ ]:
from itertools import combinations

lst = [1, 2, 3, 4]
combos = list(combinations(lst, 2))
print(combos)  # Output: [(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [ ]:
# Splitting a string by a delimiter
text = "Hello, World! Welcome to Python."
split_text = text.split(", ")

print(split_text)
# Output: ['Hello', 'World! Welcome to Python.']

# Splitting a string into a list of words
sentence = "Python programming is fun and powerful."
words = sentence.split()

print(words)
# Output: ['Python', 'programming', 'is', 'fun', 'and', 'powerful.']

['Hello', 'World! Welcome to Python.']
['Python', 'programming', 'is', 'fun', 'and', 'powerful.']

In [ ]:
list_number = [5,10,15,20]
reversal = list_number.reverse
print("Reversed List:", reversal)

Reversed List: <built-in method reverse of list object at 0x7f697c590a00>

In [ ]:
import array

# Prompt for the numbers and store them in an array
numbers = array.array('f')

# Prompt for the numbers
while True:
    value = input("Enter a number (or 'done' to finish): ")

    if value.lower() == "done":
        break

    number = float(value)
    numbers.append(number)

# Calculate the average
if len(numbers) > 0:
    total = sum(numbers)
    average = total / len(numbers)
    print("Average:", average)
else:
    print("No numbers entered.")